// Navbar
.logo {
    margin-right: 15px;
    min-width: 100px;
}
.navbar {
    max-width: 905px;
    background-color: $white;
    border-radius: 100px;
    margin: 0 auto;
    &__inner {
        width: 100%;
        padding: 0rem 3rem;
        display: flex;
        align-items: center;
    }
    &__link {
        flex-shrink: 0;
        color: $primary;
        font-size: 1.25rem;
        font-weight: 800;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 0.8rem;
        transition: all 0.2s ease-in;
        &::first-letter {
            text-transform: uppercase;
        }
        &:not(:last-child) {
            padding-right: 0.8rem;
        }
        &:first-child {
            padding-right: 2.4rem;
        }
        &--active {
            color: $secondary;
        }
        &:hover {
            color: $secondary;
        }
    }
}

.header {
    position: relative;
    padding: 1.2rem 0;
    width: 100%;
    background: linear-gradient(90deg, #4F519F 0%, #4D4F9D 21.35%, #4D4F9D 80.1%, #4F519F 100%);
    min-height: 6rem;
    z-index: 1000;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//btn-cta
.btn-cta {
    position: relative;
    overflow: hidden;
    max-width: 26rem;
    width: 100%;
    display: flex;
    padding: 1.3rem 2.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 2.75rem;
    background: linear-gradient(90deg, #f1f1f1 12.93%, #d2ff00 47.96%, #f2f2f2 88.62%);
    color: $black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 112%;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5em;
        height: 100%;
        background-color: rgba($accent, 0.8);
        transform: translateX(-4em);
        animation: move-light 1.5s infinite;
    }

    &:hover {
        background: linear-gradient(90deg, #f1f1f1 12.93%, #d2ff00 40.96%, #f2f2f2 120.62%);
    }
    @media screen and (max-width: 425px) {
        font-weight: 700;
        font-size: 16px;
        padding: 0.4em 3.6em;
    }
    @media screen and (max-width: 600px) {
        max-width: 160px;
    }
}

@keyframes move-light {
    from {
        transform: translateX(-2em) skewX(-45deg);
    }
    to {
        transform: translateX(30em) skewX(-45deg);
    }
}

// Ticker Title
.ticker-title {
    width: 100%;
    overflow: hidden;
    position: relative;
    color: #a2c1fe;
    font-family: "Nebulas", sans-serif;
    font-size: 3.75rem;
    font-weight: 800;
    text-transform: uppercase;
    &__inner {
        display: flex;
    }
    &__item {
        display: inline-block;
        flex-grow: 4;
        flex-shrink: 0;
        white-space: nowrap;
        will-change: transform;
        animation: tickerAnim 20s linear infinite;
        span {
            margin-right: 4.4rem;
            @media screen and (max-width: 576px) {
                margin-right: 20px;
            }
        }
    }
    @media screen and (max-width: 576px) {
        font-size: 20px;
    }
}
@keyframes tickerAnim {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

// Title
.title-wrap {
    display: flex;
    align-items: center;
}
.title {
    background: $primary-grad;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 110%;
}
.title-decor {
    font-size: 16rem;
    color: $accent;
    display: inline-block;
    transform: translateY(-16%);
    padding-right: 1.25rem;
    @media screen and (max-width: 526px) {
        font-size: 100px;
    }
}

// Subtitle
.subtitle {
    color: #d8f25f;
    font-family: "Nebulas";
    font-size: 2.5rem;
    font-weight: 800;
}

// Text
.text {
    color: $black;
    font-family: "SF Pro Display";
    font-size: 1.5rem;
    font-weight: 500;
}

// About Card
.about-card-wrapper {
    flex: 1 0 24%;
    display: flex;
    &:not(:last-child) {
        margin-right: 12px;
    }
    &:nth-child(odd) {
        align-items: end;
    }
    &:nth-child(even) {
        align-items: start;
    }
    @media screen and (max-width: 992px) {
        flex: 1 0 45%;
        margin-right: 12px;
    }
    @media screen and (max-width: 992px) {
        margin-right: 12px;
    }
}
.about-card {
    width: 100%;
    min-height: 26rem;
    // background-color: #4c4d99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: -1px;
    padding-bottom: 28px;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.2, 0.85, 0.4, 1.275);
    @media screen and (max-width: 1024px) {
        min-height: 32rem;
    }
    @media screen and (max-width: 440px) {
        min-height: 25rem;
    }
    &__back-content {
        width: 100%;
        position: absolute;
        z-index: -1;
        transform: rotateY(180deg);
        color: #464646;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;

        @media screen and (max-width: 576px) {
            font-size: 10px;
        }
    }
    &__back-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    &__back-img {
        max-width: 60%;
        @media screen and (max-width: 576px) {
            max-width: 50%;
        }
    }
    &__back-text {
        max-width: 85%;
    }
    &:hover {
        transform: rotateY(180deg);
    }
    &:hover &__title {
        z-index: -1;
    }
    &:hover &__back-content {
        z-index: 6;
    }
    &:hover &:before {
        transform: rotateY(-180deg);
    }

    &__inner {
        flex: 1 0 auto;
        display: flex;
        background-color: $accent;
        justify-content: center;
        align-items: center;
        border-radius: 1.75rem;
        position: relative;
        &:after,
        &:before {
            content: "";
            display: block;
            width: 47%;
            height: 56px;
            border-radius: 30px;
            background-color: #f9f9f9;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            // box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1) inset;
            @media screen and (max-width: 440px) {
                height: 25px;
                background-size: 30px;
            }
        }
        &:before {
            content: url("./../public/icon/arrow-right.svg");
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $accent;
            position: absolute;
            top: 100%;
            // box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
            @media screen and (max-width: 440px) {
                content: url("./../public/icon/arrow-right-mobile.svg");
            }
        }
    }
    &__title {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        position: relative;
        z-index: 1;
        background: linear-gradient(91deg, #23217e 4.33%, #7181c6 68.93%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media screen and (max-width: 440px) {
            font-size: 2rem;
        }
    }
}

.about-card__inner--gray {
    background-color: $gray;
    &:before {
        background-color: $gray;
    }
}
@media screen and (max-width: 992px) {
    .about-card__item--3 {
        order: 4;
    }
    .about-card__item--4 {
        order: 3;
    }
}

// Stat Elem
.stat-elem {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    &__value {
        font-size: 4rem;
        font-weight: 700;
        background: linear-gradient(267deg, #888cc0 -7.29%, rgba(136, 140, 192, 0.51) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media screen and (max-width: 576px) {
            font-size: 48px;
        }
    }
    &__data {
        max-width: 17rem;
        display: flex;
        flex-direction: column;
        color: $black;
        font-size: 1.25rem;
        padding: 0 1rem;
        transform: translateY(20%);
        @media screen and (max-width: 576px) {
            font-size: 16px;
            max-width: 100%;
        }
    }
}
.stat-elem--left {
    text-align: left;
}
.stat-elem--right {
    text-align: right;

    @media screen and (max-width: 576px) {
        align-self: flex-end;
    }
}
.stat-elem--left.stat-elem:before {
    content: "{";
    font-weight: normal;
    display: inline-block;
    color: #b4bbed;
    font-size: 8rem;
    font-weight: 400;
    @media screen and (max-width: 576px) {
        font-size: 100px;
        transform: translateY(16%);
    }
}
.stat-elem--right.stat-elem:after {
    content: "}";
    font-weight: normal;
    display: inline-block;
    color: #b4bbed;
    font-size: 8rem;
    font-weight: 400;
    @media screen and (max-width: 576px) {
        font-size: 100px;
        transform: translateY(16%);
    }
}

// Benefits Card
.benefits-card {
    border-radius: 3.75rem;
    background: $gray;
    box-shadow: 9px 4px 16.7px 0px rgba(184, 190, 239, 0.66);
    width: 100%;
    min-height: 14rem;
    overflow: hidden;

    &:nth-child(odd) {
        background-color: $accent;
    }

    &__inner {
        position: relative;
    }
    &__num {
        position: absolute;
        z-index: 1;
        font-family: "Nebulas";
        font-size: 13.7rem;
        font-weight: 800;
        background: linear-gradient(267deg, #888cc0 -7.29%, rgba(136, 140, 192, 0.51) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translate3d(-10%, 14%, 0);
    }
    &__content {
        padding: 3rem;
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: $black;
        font-family: "Nebulas", sans-serif;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
        max-width: 24rem;
        line-height: 90%;
    }
    &__desc {
        color: $black;
        font-size: 1.5rem;
        max-width: 40%;
    }
    @media screen and (max-width: 620px) {
        min-height: 220px;
        &__content {
            flex-direction: column;
            padding: 20px 12px;
        }
        &__desc {
            padding-top: 17px;
            font-size: 16px;
            align-self: flex-end;
            max-width: 60%;
        }
        &__num {
            transform: translate3d(-10%, 80%, 0);
        }
    }
}

// Btn Link
.btn-link {
    display: block;
    padding: 0.3rem 0.4rem;
    border-radius: 3rem;
    border: 1px solid #fff;
    display: flex;
    &__text {
        display: inline-flex;
        color: #111;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 112%;
        padding: 1.3rem 2.8rem;
        border-radius: 2.75rem;
        background-color: #b2bbf3;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        min-width: 20px;
        margin-left: 1.3rem;
        margin-right: 2rem;
        animation: animLink 2s linear infinite;
    }

    @media screen and (max-width: 768px) {
        border: 0;
        align-self: center;
        margin-top: 50px;
        min-width: 222px;
        &__text {
            font-size: 16px;
            font-weight: 900;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            white-space: nowrap;
        }
        &__icon {
            display: none;
        }
    }
}

@keyframes animLink {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

// Space Slider
.space-slider__slide {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    cursor: grab;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
}
.space-slider__img {
    flex: 1 0 55%;
    display: flex;
    align-items: center;

    img {
        max-width: 560px;

        @media screen and (max-width: 1280px) {
            max-width: 400px;
        }
        @media screen and (max-width: 768px) {
            max-width: 300px;
        }
    }
}
.space-slider__main {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
.space-slider__title {
    color: $accent;
    font-family: "Nebulas", sans-serif;
    font-size: 3.4rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.space-slider__text {
    color: $white;
    font-size: 2rem;
    font-weight: 700;
    max-width: 38rem;
    @media screen and (max-width: 992px) {
        font-size: 20px;
    }
    @media screen and (max-width: 860px) {
        font-size: 16px;
    }
    @media screen and (max-width: 760px) {
        font-size: 16px;
        font-weight: 400;
        max-width: 100%;
    }
}
.space-slider__control {
    display: inline-block;
    color: $accent;
    text-align: center;
    font-family: "Nebulas", sans-serif;
    font-size: 4rem;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    &--prev {
        transform: rotate(180deg);
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

// Scale Card
.scale-card-wrapper {
    flex: 1 0 24%;
    display: flex;
    &:not(:last-child) {
        margin-right: 1%;
    }
    &:nth-child(odd) {
        align-items: start;
    }
    &:nth-child(even) {
        align-items: end;
    }
    @media screen and (max-width: 768px) {
        max-width: 240px;
    }
}
.scale-card {
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: -1px;
    padding-bottom: 28px;
    cursor: pointer;
    &__inner {
        flex: 1 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 1.75rem;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(138, 150, 234, 0.4) 100%);
        backdrop-filter: blur(30px);
        position: relative;
        // border: solid 10px rgba(255, 255, 255, .4);
        &:after {
            content: "";
            display: block;
            width: 56%;
            height: 65px;
            border-radius: 30px;
            background-color: #010101;
            // border: solid 10px rgba(255, 255, 255, .4);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1) inset;
            @media screen and (max-width: 1030px) {
                height: 40px;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5rem 3rem;
        min-height: 80%;
        @media screen and (max-width: 862px) {
            padding: 30px 16px;
        }
    }
    &__icon {
        max-width: 80%;
        margin-bottom: 1rem;
    }
    &__text {
        text-align: center;
        color: $white;
        font-size: 1.25rem;
        font-weight: 400;

        @media screen and (max-width: 620px) {
            font-size: 16px;
        }
    }
}

// Contact Form
.contact-form__title {
    display: block;
    max-width: 26.6rem;
    color: $accent;
    font-family: Nebulas, sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 73.5%;
    margin-bottom: 2.6rem;
}
.contact-form__fields {
    display: flex;
    flex-direction: column;
}
.contact-form__field {
    margin-bottom: 2.6rem;
}
.contact-form__btn {
    padding: 1.5rem 10rem;
    border-radius: 3.25rem;
    background: #6670c1;
    text-align: center;
    color: #f9f9f9;
    font-size: 2.25rem;
    font-weight: 700;
    max-width: 33rem;
    transition: background 0.2s ease-in;

    &:hover {
        background: #8690da;
    }
}

.form-field {
    max-width: 33rem;
    display: block;
    padding: 2.75rem 2.6rem;
    border-radius: 5.84375rem;
    background: rgba(106, 125, 236, 0.18);

    &[placeholder] {
        color: $black;
        font-size: 1.5rem;
        font-weight: 500;
        opacity: 0.6;
    }
}

// Menu
.menu-btn {
    visibility: hidden;
    width: 188px;
}

.menu.active {
    transform: translate3d(0, 78px, 0);
}
.menu {
    width: 62%;
    max-width: 200px;
    min-height: 320px;
    background-color: #4e509e;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(100%, 78px, 0);
    transition: .2s;
    padding: 27px;
    z-index: 500;

    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__link {
        color: $primary;
        font-size: 16px;
        font-weight: 800;
        padding: 0.8rem 1.6rem;
        border-radius: 2rem;
        background: #fff;
        text-align: center;
        transition: color .2s ease-in;

        &:not(:last-child),
        &:not(:first-child) {
            margin-bottom: 16px;
        }
        &--active {
            color: $secondary;
        }
        &--first {
            margin: 26px 0;
        }
        &:hover {
            color: $secondary;
        }
    }
}

// Media
@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
    .menu-btn {
        visibility: visible;
        width: auto;
    }
    .header {
        padding: 40px 0;
        padding-bottom: 20px;
    }
    .logo {
        max-width: 142px;
    }
}


